body {
  min-width: 320px;

  margin: 0;
  padding: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #5e5e5e;

  background-color: #fdfaf3;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}

