.comment-slider {
  width: 93.2%;
  min-height: 619px;

  margin-top: 38px;
  margin-right: auto;
  margin-left: auto;
}

.comment-slider__wrapper {
  display: flex;
  overflow: hidden;
}

.comment__slider-controls {
  display: flex;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

@media (min-width: $tablet-width) {
  .comment-slider {
    width: 95.6%;
    max-width: 733px;

    margin: 0;
    margin-top: 10px;

    margin-left: calc(50% - 350px);
  }

  .comment__slider-controls {
    margin: 0;
    margin-top: 62px;
    margin-left: calc(50% - 91px);
  }
}

