.comment {
  margin-bottom: 149px;
}

.comment__title {
  max-width: 613px;

  line-height: 54px;
}

@media (min-width: $tablet-width) {
  .comment {
    margin-bottom: 157px;
  }

  .comment__title {
    width: 576px;
    max-width: none;

    margin-left: calc(50% - 350px);

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin-bottom: 160px;
  }

  .comment__title {
    margin-left: calc(50% - 584px);
  }
}
