.comment-slider {
  width: 93.2%;
  min-height: 619px;

  margin-top: 38px;
  margin-right: auto;
  margin-left: auto;
}

.comment-slider__wrapper {
  display: flex;
  overflow: hidden;
}

.comment__slider-controls {
  display: flex;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

@media (min-width: $tablet-width) {
  .comment-slider {
    width: 95.6%;
    max-width: 733px;
    min-height: 0;

    margin: 0;
    margin-top: 10px;

    margin-left: calc(50% - 350px);
  }

  .comment__slider-controls {
    margin: 0;
    margin-top: 62px;
    margin-left: calc(50% - 91px);
  }
}

@media (min-width: $desktop-width) {
  .comment-slider {
    max-width: 1360px;
    min-width: 1170px;
    width: 100vw;


    margin: auto;
    margin-top: 44px;
  }

  .comment-slider__wrapper {
    max-width: 1360px;
    min-width: 1170px;
    width: 100vw;
    margin: auto;
  }

  .comment__slider-controls {
    margin: 0 auto;
    margin-top: 81px;
  }
}

