.company-preview {
  position: relative;
  margin-top: 116px;

  text-align: center;
  z-index: 2;
}

.company-preview__title {
  width: 293px;

  margin: 0 auto;
  padding: 0;
  margin-bottom: 26px;
}

.company-preview__text {
  margin-bottom: 27px;

  letter-spacing: 1px;
  line-height: 22px;
}

.company-preview__button {
  box-sizing: border-box;
  display: block;

  width: 223px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  padding-top: 14px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 15px;


  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: 1px solid #ffffff;

  cursor: pointer;

  &:hover {
    background-color: #f8a25a;

    border-color: transparent;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .company-preview {
    margin-top: 188px;
  }

  .company-preview__title {
    width: 588px;
    margin-bottom: 68px;
  }

  .company-preview__text {
    font-size: 26px;
    margin-bottom: 65px;

    letter-spacing: 1.5px;
    line-height: 30px;
  }

  .company-preview__button {
    width: 439px;

    margin-bottom: 104px;
    padding-top: 38px;
    padding-bottom: 36px;

    font-size: 30px;
    line-height: 34px;
    letter-spacing: 3.5px;
  }
}

@media (min-width: $desktop-width) {
  .company-preview {
    width: 487px;

    margin-top: 191px;
    margin-left: 93px;
    // margin-bottom: 182px;
    margin-bottom: 171px;

    text-align: left;
  }

  .company-preview__title {
    width: 100%;

    // margin-bottom: 27px;
    margin-bottom: 23px;
  }

  .company-preview__text {
    width: 346px;

    margin-bottom: 35px;
    padding-left: 3px;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .company-preview__button {
    width: 277px;

    margin: 0;
    margin-left: 4px;
    padding-top: 17px;
    padding-right: 75px;
    padding-left: 29px;
    padding-bottom: 18px;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;

    background-image: url("../img/order-buy-arrow.png");
    background-repeat: no-repeat;
    background-position: 88% 50%;
  }
}
