.company-preview {
  position: relative;
  margin-top: 116px;

  text-align: center;
  z-index: 2;
}

.company-preview__title {
  width: 293px;

  margin: 0 auto;
  padding: 0;
  margin-bottom: 26px;
}

.company-preview__text {
  margin-bottom: 27px;

  letter-spacing: 1px;
  line-height: 22px;
}

.company-preview__button {
  box-sizing: border-box;
  display: block;

  width: 223px;
  height: 54px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  padding-top: 14px;
  padding-right: 5px;
  padding-left: 10px;


  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: 1px solid #ffffff;

  cursor: pointer;

  &:hover {
    background-color: #f8a25a;

    border-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .company-preview {
    margin-top: 188px;
  }

  .company-preview__title {
    width: 588px;
    margin-bottom: 68px;
  }

  .company-preview__text {
    font-size: 26px;
    margin-bottom: 65px;

    letter-spacing: 1.5px;
    line-height: 30px;
  }

  .company-preview__button {
    width: 439px;
    height: 110px;

    margin-bottom: 104px;
    padding-top: 38px;

    font-size: 30px;
    line-height: 34px;
    letter-spacing: 3.5px;
  }
}
