.contact {
  display: flex;
  padding-bottom: 98px;

  background-image: linear-gradient(to top, rgba(24, 44, 61, 0.9), rgba(24, 44, 61, 0.9)),
    url("../img/contact-background.jpg");
  background-position: 54% 50%;
  background-size: cover;
}

.contact__wrapper {
  width: 91%;
  margin: 0 auto;
}

.contact__title {
  width: 100%;
  max-width: 525px;
  margin: 0;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.45px;
}

.contact__text {
  max-width: 385px;

  margin: 0;
  margin-top: 19px;
  margin-right: auto;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.contact-form {
  margin-top: 44px;
  padding-left: 2px;
  padding-right: 2px;
}

.contact-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-form__input {
  box-sizing: border-box;
  width: 100%;

  padding: 0;
  padding-left: 3px;
  padding-bottom: 10px;

  border: none;
  border-bottom: 2px solid rgba(253, 229, 209, 0.7);

  background-color: transparent;

  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.9px;
}

.contact-form__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 17px;
}

.contact-form__button {
  width: 100%;
  margin-top: 4px;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 24px;

  background-color: transparent;
  border: 2px solid #ffffff;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 2.8px;

  cursor: pointer;
}

.contact-form__terms-agree-text {
  display: block;

  width: 95%;
  max-width: 415px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.8px;
  line-height: 19px;
  text-align: center;
}

.contact-form__item {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .break-new-line-for-pp {
    display: block;
  }

  .contact {
    display: flex;
    padding-bottom: 78px;

    background-position: 63.7% 100%;
    background-size: auto, 1313px 876px;
  }

  .contact__title {
    max-width: 100%;

    margin-top: 67px;
  }

  .contact__wrapper {
    width: 73.1%;
  }

  .contact__text {
    max-width: 100%;
    width: 480px;

    margin-top: 17px;

    font-size: 22px;
    letter-spacing: 1.1px;
  }

  .contact-form {
    box-sizing: border-box;
    width: 87%;

    margin-top: 54px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 13px;
  }

  .contact-form__item {
    position: relative;
    margin-bottom: 46px;

    &::before {
      content: "";
      display: block;
      position: absolute;

      right: 0;
    }

    &--name::before {
      width: 18px;
      height: 20px;

      background-image: url("../img/form-name.png");
    }

    &--phone::before {
      width: 20px;
      height: 20px;

      background-image: url("../img/form-phone.png");
    }

    &--email::before {
      width: 22px;
      height: 16px;

      background-image: url("../img/form-mail.png");
    }

    .contact-form__input {
      padding-right: 34px;
    }
  }

  .contact-form__button {
    margin-top: 10px;

    padding-bottom: 25px;
  }

  .contact-form__terms-agree-text {
    width: 100%;
    max-width: 100%;

    margin-top: 13px;

    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    max-width: 1360px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 82px;

    background-image: linear-gradient(to left, transparent 50%, rgba(24, 44, 61, 0.9) 50%),
      url("../img/contact-background.jpg");
    background-size: auto, 1363px 901px;
    background-position: 63.7% 87%;
  }

  .break-new-line-for-pp {
    display: none;
  }

  .contact__wrapper {
    width: 680px;

    margin: 0;
    margin-left: auto;
    margin-right: 42%;
    // margin-right: 300px;
  }

  .contact__title {
    width: 520px;
    max-width: none;

    margin: 0;
    margin-top: 68px;
    padding-left: 9px;

    font-size: 40px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.89px;
  }

  .contact__text {
    width: 445px;
    max-width: none;

    margin: 0;
    margin-top: 18px;
    margin-left: 12px;

    font-size: 14px;

    text-align: left;
    letter-spacing: 0.7px;
  }

  .contact-form {
    width: 71.6%;

    margin: 0;
    margin-top: 30px;
  }

  .contact-form__item {
    margin-bottom: 34px;

    &--name::before {
      top: 3px;
    }

    &--email::before {
      top: 5px;
    }
  }

  .contact-form__input {
    padding-bottom: 13px;

    font-size: 14px;
  }

  .contact-form__button {
    margin-top: 12px;

    padding-top: 24px;
    padding-bottom: 20px;

    font-size: 15px;
    line-height: 17px;
    letter-spacing: 1.5px;
  }

  .contact-form__terms-agree-text {
    margin-top: 21px;

    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 17px;
    text-align: left;
  }
}
