.footer-social {
  display: flex;
  flex-wrap: wrap;

  width: 226px;

  margin: 0;
  margin-top: 21px;
  margin-bottom: 50px;

  padding: 0;

  list-style: none;
}

.footer-social__item {
  width: 30px;
  height: 26px;

  margin-top: 20px;
  margin-right: 68px;

  background-repeat: no-repeat;

  &--instagram {
    margin-top: 23px;
  }
}

.footer-social__item:nth-child(3n) {
  margin-right: 0;
}

.footer-social__link {
  display: block;

  width: 100%;
  height: 100%;
}

.social-list__footer-svg {
  fill: #ffffff;
  transition: all 0.1s ease-in;

  &--vk {
    width: 31px;
    height: 25px;
  }

  &--instagram {
    width: 25px;
    height: 25px;
  }

  &--fb {
    width: 25px;
    height: 26px;
  }

  &:hover {
    transform: scale(1.1);
    fill: #f8a25a;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .footer-social {
    width: 181px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-social__item {
    width: 20px;
    height: 17px;

    margin-top: 20px;
    margin-right: 46px;

    // &--vk {
    //   background-position: center;
    //   background-size: 20px 13px;
    // }

    // &--instagram {
    //   background-position: center;
    //   background-size: 18px 17px;
    // }

    // &--facebook {
    //   background-position: 18%;
    //   background-size: 10px 17px;
    // }
  }

  .social-list__footer-svg {
    &--vk {
      width: 20px;
      height: 20px;
    }

    &--instagram {
      width: 19px;
      height: 19px;
    }

    &--fb {
      width: 19px;
      height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer-social {
    width: 152px;
  }
}
