
.move-down-button {
  position: relative;
  display: block;
  width: 30px;
  margin-right: auto;
  margin-left: auto;

  cursor: pointer;
  z-index: 2;

  animation: shadow  0.8s  linear infinite alternate;

  &:hover {
    animation-play-state: paused;
  }
}

.move-down-button:hover .move-down-button__arrow,
.move-down-button:hover .move-down-button__arrow::after,
.move-down-button:hover .move-down-button__arrow::before {
  background-color: #f8a25a;
}

.move-down-button:active .move-down-button__arrow,
.move-down-button:active .move-down-button__arrow::after,
.move-down-button:active .move-down-button__arrow::before {
  opacity: 0.6;
}


.move-down-button__arrow {
  position: relative;
  display: block;
  width: 3px;
  height: 58px;

  margin: 0 auto;
  padding: 0;

  background-color: rgb(165, 173, 179);
  border: none;
  pointer-events: none;


  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 3px;

    bottom: 0;
    left: -1px;

    transform: rotate(-45deg);
    background-color: rgb(165, 173, 179);
  }

  &::after {
    transform: rotate(-135deg);
    left: -5px;
  }
}

@keyframes shadow {
  10% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(8px);
  }

  to {
    transform: translateY(10px);
  }
}

@media (min-width: $tablet-width) {
  .move-down-button {
    padding-right: 3px;
  }

  .move-down-button__arrow {
    width: 5px;
    height: 80px;

    &::before,
    &::after {
      width: 15px;
      height: 4px;
    }

    &::before {
      left: -1px;
    }

    &::after {
      left: -9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .move-down-button {
    display: none;
  }
}
