.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-bottom: 88px;

  background-color: #182c3d;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-footer__logo {
  display: block;
  width: 70px;
  height: 40px;

  margin-top: 98px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 60px;
  }

  .page-footer__wrapper {
    order: 2;
    width: 300px;
  }

  .page-footer__logo {
    margin-top: 77px;
    margin-right: 28px;
  }
}
