.preview-slider {
  display: none;
}

@media (min-width: $desktop-width) {
  .preview-slider {
    display: block;
    position: absolute;
    top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 1163px;
    min-height: 595px;
    z-index: -1;
  }

  .preview-slider__image {
    position: relative;
    width: 1163px;
    height: 595px;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .preview-slider__controls {
    display: flex;
  }

  .preview-slider__wrapper {
    height: 595px;
    overflow: hidden;
  }

  .preview-slider__slide {
    display: none;
    top: 0;
    left: 0;

    &--active {
      display: block;

      opacity: 1;
    }
  }
}
