.service-slide-commercial__image-container {
  position: relative;
  width: 100%;
  min-height: 390px;

  margin-bottom: 25px;
  overflow: hidden;
}

.service-slide-commercial__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 100%;
  min-width: 878px;
  height: auto;
  width: 100%;
}

.service-slide-commercial__title {
  display: none;
}

.service-slide-commercial__text {
  margin: 0;
  margin-right: 5.3%;
  margin-left: 4.5%;
  margin-bottom: 44px;
}

.service-slide-commercial__project-count {
  display: none;
}

.service-slide-commercial__button {
  display: block;
  box-sizing: border-box;
  width: 216px;

  margin: 0 auto;
  padding-top: 19px;
  padding-right: 24px;
  padding-left: 36px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .service-slide-commercial__image-container {
    order: 1;
    margin-bottom: 61px;
  }

  .service-slide-commercial__title {
    order: 2;
    display: block;

    width: 500px;

    margin: 0;
    margin-bottom: 14px;
    margin-left: 5%;
  }

  .service-slide-commercial__text {
    order: 4;

    width: 62%;

    margin: 0;
    margin-left: 5.3%;
    margin-bottom: 35px;
  }

  .service-slide-commercial__project-count {
    order: 3;
    display: block;

    margin-left: auto;
    margin-right: 5%;
  }

  .service-slide-commercial__button {
    order: 5;

    width: 339px;

    margin: 0;
    margin-left: 5%;

    padding-top: 24px;
    padding-right: 51px;
    padding-bottom: 22px;
    padding-left: 83px;
  }
}

@media (min-width: $desktop-width) {
  .service-slide-commercial__image-container {
    order: 1;

    width: 878px;
    height: 390px;

    margin-left: auto;
    margin-right: 3px;
    margin-bottom: 57px;
  }

  .service-slide-commercial__title {
    margin: 0;
    margin-bottom: 14px;
    margin-left: 6.6%;
  }

  .service-slide-commercial__text {
    width: 55%;

    margin-left: 6.4%;
  }

  .service-slide-commercial__project-count {
    margin-top: 3px;
    margin-right: 3px;
  }

  .service-slide-commercial__button {
    width: 217px;

    margin: 0;
    margin-top: 56px;
    margin-left: auto;
    margin-right: 2px;

    padding: 19px 27px 15px 37px;
  }
}
