.site-navigation__top-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.site-navigation__toggle {
  position: relative;

  display: block;
  width: 34px;
  height: 24px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.site-navigation__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 34px;
  height: 2px;

  box-shadow: 0 10px 0 0 #ffffff,
    0 20px 0 0 #ffffff;

  background-color: #ffffff;
}

.site-navigation__toggle--open {
  width: 25px;
  height: 25px;

  z-index: 6;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    top: 5px;
    left: -5px;

    box-shadow: none;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-navigation__list {
  position: absolute;
  box-sizing: border-box;
  display: none;
  background-color: #112537;
  width: 100%;
  height: 100%;
  top: -20px;
  left: 0;

  padding: 0;
  padding-top: 111px;
  padding-left: 6px;

  text-align: center;

  list-style: none;
  z-index: 3;
}

.site-navigation__list--open {
  display: block;
}

.site-navigation__link {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 18px;

  &--active {
    color: #f8a25a;
    letter-spacing: 1.9px;
  }
}

.site-navigation__item:nth-child(2) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .site-navigation__list {
    padding-top: 230px;
  }

  .site-navigation__toggle {
    width: 64px;
    height: 45px;

    &::before {
      width: 64px;
      height: 5px;

      box-shadow: 0 20px 0 0 #ffffff,
        0 40px 0 0 #ffffff;
    }
  }

  .site-navigation__toggle--open {
    width: 50px;
    height: 42px;

    margin-top: -21px;

    z-index: 6;

    &::before,
    &::after {
      width: 58px;
      height: 3px;
      top: 21px;
      left: -5px;

      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .site-navigation__link {
    font-size: 35px;
    letter-spacing: 3.4px;

    margin-bottom: 57px;
  }

  .site-navigation__item:nth-child(5) {
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation__main-link {
    order: 1;

    margin-left: 150px;
  }

  .site-navigation__link {
    margin-bottom: 17px;

    font-size: 20px;
    letter-spacing: 2.4px;
  }

  .site-navigation__list {
    width: 1166px;
    height: auto;
    top: 45px;
    left: 0;

    padding: 0;
    padding-top: 126px;
    padding-bottom: 112px;
  }

  .site-navigation__item {
    width: 360px;
    margin: 0 auto;
  }

  .site-navigation__item:nth-child(5) {
    margin-bottom: 17px;
  }

  .site-navigation__toggle {
    order: 0;

    width: 26px;
    height: 18px;

    margin-top: 8px;
    margin-left: 3px;

    &::before {
      width: 26px;
      height: 2px;

      box-shadow: 0 8px 0 0 #ffffff,
        0 16px 0 0 #ffffff;
    }
  }

  .site-navigation__toggle--open {
    order: 0;

    width: 26px;
    height: 18px;

    margin-top: 8px;
    margin-left: 3px;

    &::before {
      width: 26px;
      height: 2px;
      top: 0;
      left: 0;

      transform: rotate(0deg);
      box-shadow: 0 8px 0 0 #ffffff,
        0 16px 0 0 #ffffff;
    }

    &::after {
      content: none;
    }
  }
}
