
.slider-controls {
  display: none;
  width: 140px;

  margin-left: auto;
}

.slider-controls__item {
  display: block;
  width: 25px;
  height: 3px;

  background-color: #cdd3cf;

  cursor: pointer;

  &--active {
    background-color: #1a444a;
  }

  .slider-controls__button {
    margin: 0;
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .slider-controls {
    display: block;
  }

  .slider-controls__list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    list-style: none;
  }
}
