.social-list {
  display: flex;
  width: 177px;
  justify-content: space-between;

  margin: 0;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-right: 14px;

  list-style: none;
}

.social-list__instagram {
  padding-top: 3px;
}

.social-list__svg {
  fill: #ffffff;
  transition: all 0.1s ease-in;

  &--vk {
    width: 24px;
    height: 19px;
  }

  &--instagram {
    width: 22px;
    height: 22px;
  }

  &--fb {
    width: 17px;
    height: 22px;
  }

  &:hover {
    transform: scale(1.1);
    fill: #f8a25a;
  }

  &:active {
    opacity: 0.6;
  }
}


@media (min-width: $tablet-width) {
  .social-list {
    width: 316px;
    margin-top: 120px;
    padding-right: 28px;
  }

  .social-list__svg {
    &--vk {
      width: 37px;
      height: 30px;
    }

    &--instagram {
      width: 37px;
      height: 37px;
    }

    &--fb {
      width: 29px;
      height: 37px;
    }
  }

  .social-list__instagram {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .social-list--header-desktop {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 110px;

    margin: 0;
    margin-left: 2px;

    z-index: 1;
  }

  .social-list--site-navigation {
    display: none;
  }

  .social-list__instagram {
    padding-top: 2px;
  }

  .social-list__svg {
    opacity: 0.67;

    &--vk {
      width: 15px;
      height: 14px;
    }

    &--instagram {
      width: 14px;
      height: 14px;
    }

    &--fb {
      width: 10px;
      height: 14px;
    }

    &:hover {
      transform: scale(1.1);
      fill: #f8a25a;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .social-list__item {
    z-index: 0;
  }

  .social-list__link {
    cursor: pointer;
  }
}
