.social-list-svg {
  fill: #ffffff;
  transition: all 0.1s ease-in;

  &--vk {
    width: 31px;
    height: 25px;
  }

  &--instagram {
    width: 25px;
    height: 25px;
  }

  &--fb {
    width: 25px;
    height: 26px;
  }

  &:hover {
    transform: scale(1.1);
    fill: #f8a25a;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .social-list-svg {
    &--vk {
      width: 20px;
      height: 20px;
    }

    &--instagram {
      width: 19px;
      height: 19px;
    }

    &--fb {
      width: 19px;
      height: 19px;
    }
  }
}
