.title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  color: #00203a;
}

.title--main {
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  letter-spacing: 1px;
}

@media (min-width: $tablet-width) {
  .title--main {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 2px;
  }
}
